<section data-state="timer">
        <div class="vertical-center">
        <div class="timer-background" style="transform:scale(1);">
        <h1 class="countdown" >{{countdown_duration_minutes}}:00</h1>
        </div>
    </div>
    {% include "footer.html" %}
</section>

