<div class="container">
    <div class="col">
        {{ question.text }}

        <ol class="choices">
            {% for choice in question.choices %}
                <li
                        {% if show_answer  and question.correct_idx==loop.index0 %}
                            class="answer"
                        {% endif %}>
                    {{ choice }}
                </li>
            {% endfor %}
        </ol>
    </div>
    <div class="col">
        <img src="{{ question.img_src }}">
    </div>
</div>