<div class="container">
    <div class="col">
        {{ question.text }}
        {% if show_answer %}
            <div class="answer">
                {{ question.answer }}
            </div>
        {% endif %}
    </div>
    <div class="col">
    {% include "right_pane_picture.j2" %}
    {% if question.audio_file %}
    <audio controls>
        {% if show_answer and question.answer_audio_file %}
            <source src="{{ question.answer_audio_file }}" type="audio/mpeg">
        {% else %}
            <source src="{{ question.audio_file }}" type="audio/mpeg">
        {% endif %}
        Your browser does not support the audio element. I tested this functionality in Safari and Firefox.
    </audio>
    {% endif %}
    </div>
</div>
