<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/5.0.2/reveal.js" integrity="sha512-bwH1GwYoFg8y5A4hkotVvfYetqz1f3wyFdPIW+Jfwiu3+f1XtKhtw8MvMRqmvxH2whRckO7qAWZ3hAKYw32p/w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/5.0.2/reveal.min.css" integrity="sha512-8849oiyeHKp8wdWclFreBguH6cXFoZfHhVBcoxdm+2+JcXagu1Poobm5vzBqEZqL9iJbTYK1bXbx3SWfNA3kRQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Pub Quiz</title>
    <link href="https://fonts.cdnfonts.com/css/bebas-neue" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/kelson-sans-bg" rel="stylesheet">

    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="assets/stars.css">
    <script src="assets/timer.js"></script>
</head>
<body>
<div class="reveal">
    <div class="slides">
        {% include "title.j2" %}
        {% include "rules.j2" %}
        {% include "topics_list.j2" %}

        {% for block in blocks %}
            {% for show_answer in [false, true] %}
                {% for topic in block %}
                    {% include "topic.j2" %}
                    {% for question in topic.questions %}
                        {% set question_idx=loop.index %}
                        {% include "question_slide.j2" %}
                    {% endfor %}
                {% endfor %}
                {% if show_answer == false %}
                {% include "break.j2" %}
                {% endif %}
            {% endfor %}
            {% if results %}
            {% include "results.j2" %}
            {% endif %}
        {% endfor %}
        {% include "end.j2" %}
    </div>
</div>
    <script>
        Reveal.initialize({
            disableLayout: true,
            controls: false,
            hash: true,
            progress: false,
            center: false,
            display: "flex",
            {# transition: "none", #}
          });
        Reveal.on("timer", () => {
            let slide = Reveal.getCurrentSlide();
            timer_element = slide.querySelector(".countdown");
            startTimer(timer_element, {{countdown_duration_minutes}}*60);
        });
        Reveal.on("results",()=>{
            let slide = Reveal.getCurrentSlide();
            iframe=slide.querySelector(".results-table");
            iframe.src=iframe.src; // force reload
        });
    </script>
</body>
</html>