<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/reveal.min.css"-->
    <!--          integrity="sha512-V5fKCVKOFy36w8zJmLzPH5R6zU6KvuHOvxfMRczx2ZeqTjKRGSBO9yiZjCKEJS3n6EmENwrH/xvSwXqxje+VVA=="-->
    <!--          crossorigin="anonymous" referrerpolicy="no-referrer"/>-->
    <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/js/reveal.min.js"-->
    <!--            integrity="sha512-QYXU3Cojl94ZRiZRjUZpyg1odj9mKTON9MsTMzGNx/L3JqvMA3BQNraZwsZ83UeisO+QMVfFa83SyuYYJzR9hw=="-->
    <!--            crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->
    <!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/theme/moon.min.css"-->
    <!--          integrity="sha512-fIE1bAi7Yajoby7f9usOLSzdxew+pROc3K15ReE9q/9bFgJKi9xfNIfLLV0yRYdivOk8l6gKTIpOBx19F442Xg=="-->
    <!--          crossorigin="anonymous" referrerpolicy="no-referrer"/>-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.4.0/reveal.js"
            integrity="sha512-y2j3xEERQApzRH8Rl1bPspQks1/wEsJ8P0pcNQdq7L+G3tT+U5wFjKoxwQNePdnvarg/zamz05jlHDlB5IAeXA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.4.0/reveal.min.css"
          integrity="sha512-A5PKBHoJQHdKjxpwyV+VhMsK7L3MMV1Ch2++rS0bn3xX8+5qJb3WpPvwJH1eqb6iMRtotfiOO7Jhl1qQ02Rwuw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.4.0/theme/moon.min.css"-->
    <!--          integrity="sha512-mzpbI+YpB+bIH9gpH3cBq4u5+YvyAikkgAR4SODr5ZpzBZZtLddurEa5LoJRqRfVc6IUfqj6klr0e9KJjUtKHw=="-->
    <!--          crossorigin="anonymous" referrerpolicy="no-referrer"/>-->
    <title>Title</title>
    <link href="https://fonts.cdnfonts.com/css/bebas-neue" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/kelson-sans-bg" rel="stylesheet">
    <style>
        :root {
            --esn-dark-blue: #2E3192;
            --esn-cyan: #00AEEF;
            --esn-green: #7AC143;
            --esn-magenta: #EC008C;
        }

        section :is(h1, h2, h3, h4, h5, h6) {
            font-family: 'Bebas Neue', sans-serif !important;
            font-weight: 700 !important;
        }

        section div, section p {
            font-family: 'Kelson Sans', sans-serif !important;
        }

        h1 {
            font-size: 5em;
        }

        h2 {
            font-size: 3em;
        }

        section > h2 {
            /*line-height: 1;*/
        {#margin: 25px;#} margin: 0;
        }

        .controls-arrow {
            color: var(--esn-dark-blue);
        }

        body {
            font-size: 2em;
            color: var(--esn-dark-blue);
        }

        section {
            flex-direction: column;
            height: 100%;
            background-color: white;
        {#padding: 0 50px 0 50px;#} line-height: 1.25;
        }

        section img {
            max-width: 95%;
            max-height: 95%;
        }

        .vertical-center {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        section div {
        {#text-align: left;#}
        }

        .choices {
            list-style-type: lower-latin !important;
        }

        .reveal-viewport {
            background-color: var(--esn-cyan);
        }

        .container {
            display: flex;
            height: 100%;
            gap: 50px;
        }

        .col {
            flex: 1;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap:25px;
        }


        .answer {
            font-weight: 700 !important;
            color: var(--esn-magenta);
        }

        .footer {
            display: flex;
            justify-content: space-between;
        {#position: absolute;#}{#bottom: 0;#}{#left: 0;#} width: 100%;
            height: 80px;
            background-color: white;
            padding: 10px 5% 10px 5%;

            box-sizing: border-box;
        }

        .footer img {
            margin: 0;
        }

        .question-title {
            height: 150px;
            padding: 0 50px 0 50px;
            background-color: var(--esn-magenta);
            font-size: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
        }

        .question-body {
            flex-grow: 1;
            padding: 50px;
        }
    </style>
</head>
<body>
<div class="reveal">
    <div class="slides">
        {% include "title.j2" %}
        {% include "rules.j2" %}
        {% for block in blocks %}
            {% for show_answer in [false, true] %}
                {% for topic in block %}
                    {% for question in topic.questions %}
                        {% set question_idx=loop.index %}
                        {% include "question_slide.j2" %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
            {% include "break.j2" %}
        {% endfor %}
        {% include "end.j2" %}
    </div>
</div>
<script>
    Reveal.initialize(
        {
            // center: false,
            // disableLayout: true,
            hash: true,
            display: "flex",
            width: 1400,
            height: 700,

        }
    );
</script>
</body>
</html>