<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.4.0/reveal.js"
            integrity="sha512-y2j3xEERQApzRH8Rl1bPspQks1/wEsJ8P0pcNQdq7L+G3tT+U5wFjKoxwQNePdnvarg/zamz05jlHDlB5IAeXA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.4.0/reveal.min.css"
          integrity="sha512-A5PKBHoJQHdKjxpwyV+VhMsK7L3MMV1Ch2++rS0bn3xX8+5qJb3WpPvwJH1eqb6iMRtotfiOO7Jhl1qQ02Rwuw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <title>Title</title>
    <link href="https://fonts.cdnfonts.com/css/bebas-neue" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/kelson-sans-bg" rel="stylesheet">

    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
<div class="reveal">
    <div class="slides">
        {% include "title.j2" %}
        {% include "rules.j2" %}
        {% for block in blocks %}
            {% for show_answer in [false, true] %}
                {% for topic in block %}
                    {% include "topic.j2" %}
                    {% for question in topic.questions %}
                        {% set question_idx=loop.index %}
                        {% include "question_slide.j2" %}
                    {% endfor %}
                {% endfor %}
                {% include "break.j2" %}
            {% endfor %}
        {% endfor %}
        {% include "end.j2" %}
    </div>
</div>
<script>
    Reveal.initialize(
        {
            // center: false,
            disableLayout: true,
            controls: false,
            hash: true,
            display: "flex",
            width: 1400,
            height: 700,
            progress: false,
            mouseWheel: false,
        }
    );
</script>
</body>
</html>