<section>
    {# lol, stolen styles from question #}
    <div class="question">
        <div class="question-title">
            <h2>Game rules</h2>
        </div>
        <div class="question-body" style="">
            <ul>
                <li>There will be 5 blocks of 2x5 questions with a break in between.</li>
                <li>Once per game, after a topic is announced, you can get a x2 point multiplier.</li>
                <li>Twice per game, before the last round of questions, you can get an extra point if the whole table
                    orders a Pivovice.
                    <ul>
                        <li>A non-alcoholic alternative possible (if you don't drink).</li>
                    </ul>
                </li>
                <li>Please do not use internet, phones, etc. — it ruins the game for others.</li>
                <li>Each team can have up to 8 people.</li>
                <li>In case of disagreements, the organizers have the final word.</li>
                <li>Have fun (this is mandatory, we will be checking! :-))</li>
            </ul>
        </div>
        {% include "footer.html" %}
    </div>
</section>