<section>
    {# lol, stolen styles from question #}
    <div class="question">
        <div class="general-title">
            <h2>Game rules</h2>
        </div>
        <div class="vertical-center question-body" style="">
            <ul>
                <li>There will be 2 blocks of 2x5 questions.</li>
                <li>Please do not use internet, phones, etc. — it ruins the game for others.</li>
                <li>Please write your answers in English (Czech and Slovak if necessary).</li>
                <li>In case of disagreements, the organizers have the final word.</li>
                <li>At the beginning of the game, you can select one topic from the list, where you get x2 multiplier.</li>
                {% for rule in additional_rules %}
                <li>{{rule}}</li>
                {% endfor %}
                <li>Have fun (this is mandatory, we will be checking! :-))</li>
            </ul>
        </div>
        {% include "footer.html" %}
    </div>
</section>