<section>
    <h2>{{topic.name}}: {%if show_answer%}Answer{%else%}Question{%endif%} #{{question_idx}}</h2>
    <div class="container">
        <div class="col">
            {{question.text}}
            {%if show_answer%}
            <div class="answer">
            {{question.answer}}
            </div>
            {%endif%}
        </div>
        <div class="col">
            <img src="{{question.img_src}}">
        </div>
    </div>
    {%include "footer.html"%}
</section>