<section class="vertical-center">
    <div class="title-container">
        <h1>{{name}}</h1>
        <h2 class="quiz-place">{{place}}</h2>
        <p class="quiz-date">{{date}}</p>
    </div>
</section>