<section>
    <div class="topic">
        <h2 >{{ topic.name }}</h2>
        <h3>
            {% if show_answer %}
                Answers
            {% else %}
                Questions
            {% endif %}
        </h3>
    </div>
</section>