:root {
  --zbradavice-blue: #040127;
  --esn-cyan: #00AEEF;
  --esn-green: #7AC143;
  --esn-magenta: #EC008C;
  --esn-off-white: #faf1f6;
}

section :is(h1, h2, h3, h4, h5, h6) {
  font-family: 'Bebas Neue', sans-serif !important;
  font-weight: 700 !important;
}

section div,
section p {
  font-family: 'Kelson Sans', sans-serif !important;
}

h1 {
  font-size: 5em;
  margin: 0;
}

h2 {
  font-size: 3em;
  margin: 0;
}

h3 {
  font-size: 2em;
  margin: 0;
}

.title-container {
  text-shadow : 0px 0px 10px #fff, 0px 0px 30px #fff;
  /* padding: 5%; */
  /*height: 65vh;
  width: 65vw;*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border-style: solid; */
  color: var(--zbradavice-blue);

}

.quiz-place{
  color:var(--esn-off-white);
}

.controls-arrow {
  color: var(--zbradavice-blue);
}

body {
  font-size: 2.2em;
}

section {
  height: 100%;
  flex-direction: column;
  line-height: 1.25;
}

section img {
  max-width: 30vw;
  max-height: 50vh;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
}
.vertical-center img{
  width: 500px;
}

.choices {
  list-style-type: lower-latin !important;
}

.reveal-viewport {
  background-color: var(--zbradavice-blue);
}

.container {
  display: flex;
  height: 100%;
  /*gap: 50px;*/
}

.col {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* gap: 25px; */
}

.topic {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  /*gap: 25px;*/
  flex-grow: 1;
  justify-content: center;
}

.topic>* {
  margin: 0;
  color: var(--zbradavice-blue);
}

.topic>h2 {
  color: var(--esn-off-white);
}

.topic h3 {
  color: var(--esn-magenta);
}


.answer {
  font-weight: 700 !important;
  color: var(--esn-magenta);
}

.footer {
  display: block;
  justify-content: center;
  height: 100px;
  margin: 30px;
  box-sizing: border-box;
}

.footer img {
  margin: 0;
  height: 10vh;
}

.general-title {
  height: 150px;
  font-size: 100%;
  text-shadow : 0px 0px 10px #fff, 0px 0px 30px #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--zbradavice-blue);
}

.question-body {
  flex-grow: 1;
  padding: 50px;
  border-radius: 40px;
  background-color: white;
  max-height: calc(100vh - 450px);
}

.question {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 0px);
}

.topics-list .general-title{
  font-size: 300pt;
  height: 10px;
}

ul, ol {
  line-height: 1.5;
  text-align: left;
  margin-top: 0;
}

@media only screen and (max-width: 1500px) {
  .general-title {
    font-size: 2vw;
    height: 100px;
  }

  .question-body {
    font-size: 2vw;
    margin: 5%;
  }

  .footer {
    height: 80px;
    margin: 10px 5% 10px 5%;
  }

  .container {
    flex-direction: column-reverse;
    gap: 10%;
  }

  .col {
    height: 50%;
    width: 100%;
  }

  .col img {
    max-width: 90%;
    max-height: 90%;
  }
}